@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500&display=swap');

html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}
  
.window{

  /*border: 20px solid #CFD6EA; */ /* #4182ab  #E67A01*/ 
  border-radius: 50px;
  z-index: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

body{
  z-index: -1;
  background-color: #F4A523;    /* #10002b */ 
}


.marginFrame{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transform: translate(-640px,-355px);
}

.frame{
  width: 1180px; 
  height: 633px;
  border: 43px solid #292A2B;
  border-radius: 50px;
  /*background: #F4A523;*/
  /*box-shadow: 20px 20px;*/
  box-shadow:  41px 41px 30px #cf8c1e,
  -41px -41px 30px #ffbe28;
  z-index: 1;
  /*
  border-bottom: 500px solid #CFD6EA;
  border-left: 0px solid transparent; 
  border-right: 0px solid transparent; 
  */
  /*opacity: 0.5; */
}

.marginBoxLocation{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transform: translate(-300px,280px);
}


.boxLocation{
  width: 600px; 
  height: 80px;
  border-radius: 30px;
  background: #292A2B;
}

.marginBoxInfoLeft{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transform: translate(-620px,-340px);
}


.boxInfoLeft{
  width: 300px; 
  height: 110px;
  border-radius: 30px;
  background: #292A2B;
}

/*
.centerBottom{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transform: translate(-530px,245px);
}

.trapeziumBottom{
  border-top: 110px solid #CFD6EA;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  height: 0;
  width: 860px;
}
*/

/*
.frame{
  border-radius: 50px;
  border: 40px solid #292A2B;
  width: 860px; 
  opacity: 0.5;
  z-index: 1;
}
*/

.saoPauloText{
  z-index: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #ffffff;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transform: translate(-220px,290px);
  font-family: 'Noto Sans KR', sans-serif;
}

.saoPauloDegrees{
  z-index: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #ffffff;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transform: translate(-580px,-305px);
  font-family: 'Noto Sans KR', sans-serif;
}

