@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500&display=swap');

html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}
  
.window{

  /*border: 20px solid #CFD6EA; */ /* #4182ab  #E67A01*/ 
  /*border-radius: 50px;*/
  border-radius: 0px 130px 100px 100px;
  z-index: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

body{
  z-index: -1;
  background-color: #301F32;   /*F4A523*/  /* #10002b */   /*142C52*/
}


.marginFrame{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transform: translate(-662px,-355px);
}

.frame{
  width: 1199px; 
  height: 633px;
  border: 43px solid #292A2B;
  /*border-radius: 50px;*/
  border-radius: 0px 100px 0px 100px;

  /*
  box-shadow:  41px 41px 70px #cf8c1e,
  -41px -41px 70px #ffbe28;
  */
  z-index: 1;
  opacity: 1;
}

.marginBoxCity{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transform: translate(-280px,290px);
}


.boxCity{
  width: 480px; 
  height: 74px;
  border-radius: 30px 30px 0 0;
  background: #292A2B;
  opacity: 1;
}

.marginBoxInfoLeft{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transform: translate(-640px,-355px);
}


.boxInfoLeft{
  width: 280px; 
  height: 130px;
  border-radius: 40px 0px 40px 0px; 
  background: #292A2B;    /*5C8BD6*/ /*323334*/
  /*border-top: 4px solid #292A2B;
  border-left: 4px solid #292A2B;*/
  /*border: 1px solid #3C3D3E;*/
  opacity: 1;
}

/*
.centerBottom{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transform: translate(-530px,245px);
}

.trapeziumBottom{
  border-top: 110px solid #CFD6EA;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  height: 0;
  width: 860px;
}
*/

/*
.frame{
  border-radius: 50px;
  border: 40px solid #292A2B;
  width: 860px; 
  opacity: 0.5;
  z-index: 1;
}
*/

.cityText{
  z-index: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #ffffff;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transform: translate(-220px,290px);
  font-family: 'Noto Sans KR', sans-serif;
}

.cityInfo{
  z-index: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #ffffff;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transform: translate(-590px,-365px);
  font-family: 'Noto Sans KR', sans-serif;
}

