@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;520;600;700&display=swap');

html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}
  
.window{

  /*border: 20px solid #CFD6EA; */ /* #4182ab  #E67A01*/ 
  /*border-radius: 50px;*/
  border-radius: 0px 130px 100px 100px;
  z-index: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

body{
  z-index: -1;
  background-color: #F4A523;   /*F4A523*/  /* #10002b */   /*142C52*/
  font-family: 'Poppins', sans-serif;
  overflow-y: hidden; 
  overflow-x: hidden; 
}


.marginFrame{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transform: translate(-662px,-355px);
}

.frame{
  width: 1200px; 
  height: 633px;
  border: 43px solid #292A2B;
  /*border-radius: 50px;*/
  border-radius: 0px 100px 0px 100px;
  box-shadow:  41px 41px 70px #cf8c1e,
  -41px -41px 70px #ffbe28;
  
  z-index: 2;
  opacity: 1;
}


.marginFrameBackground{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transform: translate(-705px,-398px);
}



.frameBackground{
  width: 1243px; 
  height: 680px;
  border: 80px solid #F4A523;
  /*border-radius: 50px;*/
  border-radius: 0px 120px 0px 130px;
  
  z-index: 1;
  opacity: 1;
}


.marginBoxCity{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transform: translate(-280px,310px);
}


.boxCity{
  width: 530px; 
  height: 50px;
  border-radius: 30px 30px 0 0;
  background: #292A2B;
  opacity: 1;
}

.marginBoxInfoLeft{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transform: translate(-650px,-355px);
}


.boxInfoLeft{
  width: 225px; 
  height: 110px;
  border-radius: 40px 0px 40px 0px; 
  background: #292A2B;    /*5C8BD6*/ /*323334*/
  /*border-top: 4px solid #292A2B;
  border-left: 4px solid #292A2B;*/
  /*border: 1px solid #3C3D3E;*/
  opacity: 1;
}

/*
.centerBottom{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transform: translate(-530px,245px);
}

.trapeziumBottom{
  border-top: 110px solid #CFD6EA;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  height: 0;
  width: 860px;
}
*/

/*
.frame{
  border-radius: 50px;
  border: 40px solid #292A2B;
  width: 860px; 
  opacity: 0.5;
  z-index: 1;
}
*/

.saoName{
  z-index: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #F3E4CE;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transform: translate(-205px,323px);
  font-weight: 500;
  /*font-family: 'Noto Sans KR', sans-serif;*/
}

.brasovName{
  z-index: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #F3E4CE;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transform: translate(-165px,323px);
  font-weight: 500;
  /*font-family: 'Noto Sans KR', sans-serif;*/
}

.taoyuanName{
  z-index: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #F3E4CE;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transform: translate(-145px,323px);
  font-weight: 500;
  /*font-family: 'Noto Sans KR', sans-serif;*/
}

.cityText{
  z-index: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #F3E4CE;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transform: translate(-210px,323px);
  font-weight: 500;
  /*font-family: 'Noto Sans KR', sans-serif;*/
}

.cityTime{
  z-index: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #FBF6EF;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transform: translate(-610px,-324px);
  font-size: 35px;
  /*font-family: 'Noto Sans KR', sans-serif;*/
}

.cityDate{
  z-index: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #FBF6EF;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transform: translate(-610px,-275px);
  font-size: 10px;
  /*font-family: 'Noto Sans KR', sans-serif;*/
}

.cityIcon{
  z-index: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  /*color: #ffffff;*/
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transform: translate(-510px,-334px);
  /*font-family: 'Noto Sans KR', sans-serif;*/
}

.cityTemperature{
  z-index: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #FBF6EF;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transform: translate(-486px,-274px);
  font-size: 10px;
  /*font-family: 'Noto Sans KR', sans-serif;*/
}

#leftArrowIcon{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transform: translate(-280px,300px);
  font-size: 70px;
  color: #F3E4CE;
  cursor: pointer;
}


#rightArrowIcon{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transform: translate(183px,300px);
  font-size: 70px;
  color: #F3E4CE;
  cursor: pointer;
}


#fullscreenIcon{
  margin: 0;
  position: absolute;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
  font-size: 55px;
  color: rgba(243, 228, 206, 0.9)
}

#paletteIcon{
  margin: 0;
  position: absolute;
  bottom: 20px;
  right: 60px;
  cursor: pointer;
  font-size: 30px;
  color: rgba(243, 228, 206, 0.7)
}

#infoIcon{
  margin: 0;
  position: absolute;
  bottom: 20px;
  right: 100px;
  cursor: pointer;
  font-size: 30px;
  color: rgba(243, 228, 206, 0.7)
}


.span_no_selection {
  user-select: none; /* standard syntax */
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}
