.btn {
  border: none;
  background-color: rgba(255,170,0, 0.2);
  color: white;
  font-size: 16px;
  cursor: pointer;
  display: block;
  height: 50px;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 15px;
  outline:none
}

#btns {
 position: fixed;
 width: 100%;
 bottom: 5%;
	}
