#goBackParticleCanvas{
  margin: 0;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  font-size: 35px;
  color: rgba(243, 228, 206);
}

#goBackDemoSec{
  margin: 0;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  font-size: 60px;
  color: rgba(255, 255, 255);
  background-color: rgba(255, 255, 255);
  z-index: 0;
  /*color: rgba(243, 228, 206);*/
}