#purple{
    margin: 0;
    position: absolute;
    left: 75px;
    bottom: 20px;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    font-size: 25px;
    color: #484B78;
    background-color: #141414;
    z-index: 1;
}

#yellow{
    margin: 0;
    position: absolute;
    left: 135px;
    bottom: 20px;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    font-size: 25px;
    color: #E4AA2D;
    background-color: #141414;
    z-index: 1;
    /*color: rgba(243, 228, 206);*/
}

#pink{
    margin: 0;
    position: absolute;
    left: 195px;
    bottom: 20px;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    font-size: 25px;
    color: #C62F40;
    background-color: #141414;
    z-index: 1;
    /*color: rgba(243, 228, 206);*/
}

#green{
    margin: 0;
    position: absolute;
    left: 255px;
    bottom: 20px;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    font-size: 25px;
    color: #58875D;
    background-color: #141414;
    z-index: 1;
    /*color: rgba(243, 228, 206);*/
}

#orange{
    margin: 0;
    position: absolute;
    left: 315px;
    bottom: 20px;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    font-size: 25px;
    color: #D0692E;
    background-color: #141414;
    z-index: 1;
    /*color: rgba(243, 228, 206);*/
}

#clean{
    margin: 0;
    position: absolute;
    left: 375px;
    bottom: 20px;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    font-size: 25px;
    color: rgba(243, 228, 206);
    background-color: #141414;
    z-index: 1;
    /*color: rgba(243, 228, 206);*/
}

#circleShapy{
    margin: 0;
    position: absolute;
    left: 480px;
    bottom: 20px;
    border-radius: 50%;
    
    width: 55px;
    height: 55px;
    
    cursor: pointer;
    /*font-size: 25px;*/
    color: rgba(243, 228, 206);
    background-color: #141414;
    z-index: 1;
}

#squareShapy{
    margin: 0;
    position: absolute;
    left: 540px;
    bottom: 20px;
    border-radius: 50%;
    
    width: 55px;
    height: 55px;
    
    cursor: pointer;
    /*font-size: 25px;*/
    color: rgba(243, 228, 206);
    background-color: #141414;
    z-index: 1;
  }

  #pie1Shapy{
    margin: 0;
    position: absolute;
    left: 600px;
    bottom: 20px;
    border-radius: 50%;
    
    width: 55px;
    height: 55px;
    
    cursor: pointer;
    /*font-size: 25px;*/
    color: rgba(243, 228, 206);
    background-color: #141414;
    z-index: 1;
  }

  #pie2Shapy{
    margin: 0;
    position: absolute;
    left: 660px;
    bottom: 20px;
    border-radius: 50%;
    
    width: 55px;
    height: 55px;
    
    cursor: pointer;
    /*font-size: 25px;*/
    color: rgba(243, 228, 206);
    background-color: #141414;
    z-index: 1;
}

#pie3Shapy{
    margin: 0;
    position: absolute;
    left: 720px;
    bottom: 20px;
    border-radius: 50%;
    
    width: 55px;
    height: 55px;
    
    cursor: pointer;
    /*font-size: 25px;*/
    color: rgba(243, 228, 206);
    background-color: #141414;
    z-index: 1;
  }

  #pie4Shapy{
    margin: 0;
    position: absolute;
    left: 780px;
    bottom: 20px;
    border-radius: 50%;
    
    width: 55px;
    height: 55px;
    
    cursor: pointer;
    /*font-size: 25px;*/
    color: rgba(243, 228, 206);
    background-color: #141414;
    z-index: 1;
  }

  #triangle1Shapy{
    margin: 0;
    position: absolute;
    left: 840px;
    bottom: 20px;
    border-radius: 50%;
    
    width: 55px;
    height: 55px;
    
    cursor: pointer;
    /*font-size: 25px;*/
    color: rgba(243, 228, 206);
    background-color: #141414;
    z-index: 1;
  }

  #triangle2Shapy{
    margin: 0;
    position: absolute;
    left: 900px;
    bottom: 20px;
    border-radius: 50%;
    
    width: 55px;
    height: 55px;
    
    cursor: pointer;
    /*font-size: 25px;*/
    color: rgba(243, 228, 206);
    background-color: #141414;
    z-index: 1;
  }

#triangle3Shapy{
    margin: 0;
    position: absolute;
    left: 960px;
    bottom: 20px;
    border-radius: 50%;
    
    width: 55px;
    height: 55px;
    
    cursor: pointer;
    /*font-size: 25px;*/
    color: rgba(243, 228, 206);
    background-color: #141414;
    z-index: 1;
  }

#triangle4Shapy{
    margin: 0;
    position: absolute;
    left: 1020px;
    bottom: 20px;
    border-radius: 50%;
    
    width: 55px;
    height: 55px;
    
    cursor: pointer;
    /*font-size: 25px;*/
    color: rgba(243, 228, 206);
    background-color: #141414;
    z-index: 1;
  }

#leaf1Shapy{
    margin: 0;
    position: absolute;
    left: 1080px;
    bottom: 20px;
    border-radius: 50%;
    
    width: 55px;
    height: 55px;
    
    cursor: pointer;
    /*font-size: 25px;*/
    color: rgba(243, 228, 206);
    background-color: #141414;
    z-index: 1;
}

#leaf2Shapy{
    margin: 0;
    position: absolute;
    left: 1140px;
    bottom: 20px;
    border-radius: 50%;
    
    width: 55px;
    height: 55px;
    
    cursor: pointer;
    /*font-size: 25px;*/
    color: rgba(243, 228, 206);
    background-color: #141414;
    z-index: 1;
}



#backgroundShapy{
    margin: 0;
    position: absolute;
    left: 1275px;
    bottom: 20px;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    font-size: 25px;
    color: rgba(243, 228, 206);
    background-color: #141414;
    z-index: 1;
    /*color: rgba(243, 228, 206);*/
}