#goBackSwarmCanvas{
  margin: 0;
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  padding: 15px;
  cursor: pointer;
  font-size: 35px;
  color: rgba(243, 228, 206);
  padding: 10px;
  background-color: #141414;
}

#goBackDemoSec{
  margin: 0;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  font-size: 35px;
  color: rgba(243, 228, 206);
  border-radius: 50%;
  padding: 10px;
  background-color: #141414;
  /*background-color: rgba(255, 255, 255);*/
  /*z-index: 0; */
  /*color: rgba(243, 228, 206);*/
}

#goBackMuseFlowSec{
  margin: 0;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  font-size: 35px;
  color: rgba(243, 228, 206);
  border-radius: 50%;
  padding: 10px;
  background-color: #141414;
  /*background-color: rgba(255, 255, 255);*/
  /*z-index: 0; */
  /*color: rgba(243, 228, 206);*/
}

#goBackShapyGrid{
  margin: 0;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  font-size: 35px;
  color: rgba(243, 228, 206);
  border-radius: 50%;
  padding: 10px;
  background-color: #141414;
}

#dancingMode{
  margin: 0;
  position: absolute;
  left: 30px;
  bottom: 20px;
  border-radius: 50%;
  padding: 15px;
  cursor: pointer;
  font-size: 25px;
  color: rgba(243, 228, 206);
  background-color: #141414;
  z-index: 1;
}

#bigBangMode{
  margin: 0;
  position: absolute;
  left: 105px;
  bottom: 20px;
  border-radius: 50%;
  padding: 15px;
  cursor: pointer;
  font-size: 25px;
  color: rgba(243, 228, 206);
  background-color: #141414;
  z-index: 1;
  /*color: rgba(243, 228, 206);*/
}

#pencilMode{
  margin: 0;
  position: absolute;
  left: 180px;
  bottom: 20px;
  border-radius: 50%;
  padding: 15px;
  cursor: pointer;
  font-size: 25px;
  color: rgba(243, 228, 206);
  background-color: #141414;
  z-index: 1;
}

#crossShape{
  
  /*background: url("https://juanolaya.github.io/EurekaWall/assets/crossBeige.svg") no-repeat top left;*/
  margin: 0;
  position: absolute;
  left: 350px;
  bottom: 20px;
  border-radius: 50%;
  
  width: 55px;
  height: 55px;
  
  cursor: pointer;
  /*font-size: 25px;*/
  color: rgba(243, 228, 206);
  background-color: #141414;
  z-index: 1;
}

.SVGlocation{
  position: relative;
  left: 12px;
  top: 12px;
}



#rectangleShape{

  /*background: url("https://juanolaya.github.io/EurekaWall/assets/rectangleBeige.svg") no-repeat top left;*/
  margin: 0;
  position: absolute;
  left: 425px;
  bottom: 20px;
  border-radius: 50%;
  
  width: 55px;
  height: 55px;
  
  cursor: pointer;
  /*font-size: 25px;*/
  color: rgba(243, 228, 206);
  background-color: #141414;
  z-index: 1;
}

#lineShape{
  /*background: url("https://juanolaya.github.io/EurekaWall/assets/lineBeige.svg") no-repeat top left;*/
  margin: 0;
  position: absolute;
  left: 500px;
  bottom: 20px;
  border-radius: 50%;

  width: 55px;
  height: 55px;

  cursor: pointer;
  /*font-size: 25px;*/
  color: rgba(243, 228, 206);
  background-color: #141414;
  z-index: 1;
}

#sizeMore{
  margin: 0;
  position: absolute;
  left: 675px;
  bottom: 20px;
  border-radius: 50%;
  padding: 15px;
  cursor: pointer;
  font-weight: bold;
  font-size: 25px;
  color: rgba(243, 228, 206);
  background-color: #141414;
  z-index: 1;
}

#sizeLess{
  margin: 0;
  position: absolute;
  left: 750px;
  bottom: 20px;
  border-radius: 50%;
  padding: 15px;
  cursor: pointer;
  font-weight: bold;
  font-size: 25px;
  color: rgba(243, 228, 206);
  background-color: #141414;
  z-index: 1;
}

#amountMore{
  margin: 0;
  position: absolute;
  left: 875px;
  bottom: 20px;
  border-radius: 50%;
  padding: 15px;
  cursor: pointer;
  font-weight: bold;
  font-size: 25px;
  color: rgba(243, 228, 206);
  background-color: #141414;
  z-index: 1;
}

#amountLess{
  margin: 0;
  position: absolute;
  left: 950px;
  bottom: 20px;
  border-radius: 50%;
  padding: 15px;
  cursor: pointer;
  font-weight: bold;
  font-size: 25px;
  color: rgba(243, 228, 206);
  background-color: #141414;
  z-index: 1;
}

#darkMode{
  margin: 0;
  position: absolute;
  left: 1075px;
  bottom: 20px;
  border-radius: 50%;
  padding: 15px;
  cursor: pointer;
  font-size: 25px;
  color: rgba(243, 228, 206);
  background-color: #141414;
  z-index: 1;
}

#deleteCanvas{
  margin: 0;
  position: absolute;
  left: 1150px;
  bottom: 20px;
  border-radius: 50%;
  padding: 15px;
  cursor: pointer;
  font-size: 25px;
  color: rgba(243, 228, 206);
  background-color: #141414;
  z-index: 1;
}

#saveSwarmCanvas{
  margin: 0;
  position: absolute;
  left: 1250px;
  bottom: 20px;
  border-radius: 50%;
  padding: 15px;
  cursor: pointer;
  font-size: 25px;
  color: rgba(243, 228, 206);
  background-color: #141414;
  z-index: 1;
}

/*
#darkMode{
  margin: 0;
  position: absolute;
  right: 30px;
  bottom: 30px;
  border-radius: 50%;
  padding: 15px;
  cursor: pointer;
  font-size: 25px;
  color: rgba(243, 228, 206);
  background-color: #141414;
  z-index: 1;
}
*/


.screenInfoSwarmCanvas{
  width: 1200px; 
  height: 633px;
  border: 43px solid #292A2B;
  background: #292A2B;
  line-height: 120%;
  color: #F1D8BC;
  font-size: 35px;
  border-radius: 20px;
  /*
  border-radius: 0px 100px 0px 100px;
  box-shadow:  41px 41px 70px #cf8c1e,
  -41px -41px 70px #ffbe28;
  */
  z-index: 2;
  opacity: 1;
}

#infoIconSwarmCanvas{
  margin: 0;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 35px;
  transform: rotate(180deg);
  color: rgba(243, 228, 206, 0.9);
  border-radius: 50%;
  padding: 10px;
  /* background-color: #141414;*/
  background-color: #292A2B;
}

#cancelInfoScreenSwarmCanvas{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transform: translate(595px,315px);
  cursor: pointer;
  font-size: 45px;
  /*color: #F3E4CE;*/
  color: #F1D8BC;
  border-radius: 50%;
  background: #3C3D3E;
  border: 10px solid #3C3D3E;
  z-index: 2;
}